.card {
  align-items: center;
  display: flex;

  &Image,
  &Content {
    width: 50%;
  }

  &Image {
    img {
      display: block;
      width: 100%;
    }
  }

  &Content {
    padding: 70px;

    h3,
    p {
      color: #fff;
    }

    h3 {
      display: flex;
      font-size: 45px;
      font-weight: 800;
      line-height: 50px;
      margin-bottom: 45px;

      img {
        margin-right: 30px;
      }
    }

    p {
      font-size: 26px;
      font-weight: 300;
      line-height: 36px;
    }
  }

  &Last {
    background-color: #006694;
  }

  &Middle {
    background-color: #fff;

    .cardImage {
      order: 1;
    }

    .cardContent {
      h3,
      p {
        color: #000;
      }
    }
  }
}
