.card {
  align-items: center;
  display: flex;
  flex-direction: column;

  &Image,
  &Content {
    width: 100%;
  }

  &Image {
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &Content {
    padding: 20px;

    h3,
    p {
      color: #fff;
    }

    h3 {
      align-items: center;
      display: flex;
      font-size: 30px;
      font-weight: 800;
      line-height: 38px;
      margin-bottom: 20px;

      img {
        margin-right: 30px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &Last {
    background-color: #006694;
  }

  &Middle {
    background-color: #fff;

    .cardContent {
      h3,
      p {
        color: #000;
      }
    }
  }

  @media (min-width: 600px) {
    flex-direction: row;

    &Image,
    &Content {
      width: 50%;
    }

    &Image {
      img {
        height: auto;
      }
    }

    &Content {
      padding: 0 70px;

      h3 {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 45px;
      }

      p {
        font-size: 26px;
        line-height: 36px;
      }
    }

    &Middle {
      .cardImage {
        order: 1;
      }
    }
  }
}
