// TODO - styles are duplicated between home and contact

.intro {
  background-image: url('/bg-contact.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
  position: relative;
  text-align: center;
  width: 100%;

  &::after {
    background: var(--black);
    content: '';
    inset: 0;
    opacity: 0.35;
    position: absolute;
    z-index: -1;
  }

  > div {
    width: 100%;
    padding-bottom: 4em;
  }

  h2 {
    margin-top: 5em;
    margin-bottom: 1em;
  }

    @media (min-width: 600px) {
      > div {
        flex-direction: column;
      }
  
      h2 {
        font-size: 45px;
        margin-top: 3em;
        margin-bottom: .5em;
      }
    }
  
    @media (min-width: 1300px) {
      > div {
        flex-direction: column;
      }
  
      h2 {
        font-size: 75px;
        line-height: 75px;
      }
    }
}

.container {
  width: 100%;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
  min-height: 600px;

  @media (min-width: 800px) {
    max-width: 550px;
  }
}

.introCopy {
  font-size: 1em;
  line-height: initial;
  margin-bottom: 2em;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
