@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1.5em;
  font-weight: 300;
}

a {
  cursor: pointer;
  display: block;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p::-moz-selection,
p::selection {
  background: #000;
  color: #fff;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

header,
footer {
  height: 100px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer {
  background-color: #22222c;

  nav a {
    display: inline-block;
  }

  p {
    margin: 0;
  }
}
