.bgImage {
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh);
  isolation: isolate;
  position: relative;
  width: calc(100vw - 17px);

  &::after {
    background: #000;
    content: '';
    inset: 0;
    opacity: 0.35;
    position: absolute;
    z-index: -1;
  }
}

.intro {
  text-align: center;

  h2,
  p {
    font-style: normal;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  }

  h2 {
    font-size: 75px;
    font-weight: 800;
    line-height: 75px;
  }

  p {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
  }

  button {
    background: none;
    border: none;
    margin-top: 150px;
  }
}
