.intro {
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh);
  isolation: isolate;
  position: relative;
  text-align: center;
  width: 100%;

  &::after {
    background: var(--black);
    content: '';
    inset: 0;
    opacity: 0.35;
    position: absolute;
    z-index: -1;
  }

  h1,
  p {
    font-style: normal;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 1);
  }

  h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: .5em;
  }

  p {
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin: 20px 0;
    text-shadow: 0 4px 1px rgb(0, 0, 0);
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  @media (min-width: 800px) {
    > div {
      flex-direction: column;
      justify-content: center;
    }

    h1 {
      font-size: 55px;
      line-height: 55px;
    }

    p {
      font-size: 25px;
      line-height: 35px;
    }
  }

  @media (min-width: 1200px) {
    > div {
      flex-direction: column;
      justify-content: center;
    }

    h1 {
      font-size: 75px;
      line-height: 75px;
    }

    p {
      font-size: 25px;
      line-height: 35px;
    }
  }
}
