.mission {
  background-color: #fff;
  padding: 125px 0;
  text-align: center;

  h2 {
    color: #22222b;
    font-size: 60px;
    font-weight: 800;
    line-height: 65px;
    margin-bottom: 15px;
  }

  &Strapline {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #22222b;
    font-weight: 300;
    margin-bottom: 40px;
  }

  &FancyBorder {
    background-image: linear-gradient(270deg, #3abfef 0%, #006694 100%);
    border-radius: 3px;
    display: inline-block;
    height: 5px;
    margin-bottom: 60px;
    width: 170px;
  }

  ul {
    display: grid;
    gap: 130px;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;

    li {
      align-items: center;
      display: flex;
      flex-direction: column;

      .imageWrapper {
        align-items: center;
        background-color: #f3f3f3;
        border-radius: 110px;
        display: flex;
        height: 220px;
        justify-content: center;
        margin-bottom: 35px;
        width: 220px;
      }

      h3 {
        color: #006694;
        font-size: 30px;
        font-weight: 800;
      }

      p {
        color: #22222b;
        font-size: 20px;
        font-weight: 300;
        line-height: 27px;
      }
    }
  }
}
